body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	transition: background-color 0.3s ease, color 0.3s ease;
	margin: 0%;
	box-sizing: border-box;
}
.head {
	text-align: center;
	color: hsl(30, 100%, 50%);
	font-size: 2rem;
	margin: 3rem 0px 0px 0px;
}
.choose {
	padding-top: 30vh;
	display: flex;
	justify-content: center;
}
.file-drop {
	padding: 1rem 1.6rem;
	font-size: 1.3rem;
	color: white;
	background-color: hsl(212, 100%, 60%);
	border-radius: 5px 0px 0px 5px;
	cursor: pointer;
	line-height: 15px;
	border: none;
	letter-spacing: 1px;
	box-shadow: 0px 8px 24px 0px hsla(212, 100%, 60%, 0.5);
}
#plus {
	padding: 0px 10px 0px 0px;
}
input[type="file"] {
	display: none;
}
.dropBtn {
	border: none;
	border-left: 1px solid hsl(220, 100%, 80%);
	cursor: pointer;
	background-color: hsl(212, 100%, 60%);
	border-radius: 0px 5px 5px 0px;
	padding: 1rem 1.3rem;
	height: 57px;
	box-shadow: 0px 8px 24px 0px hsla(212, 100%, 60%, 0.5);
}
#down {
	color: white;
	font-size: 1rem;
}
.file-drop:hover,
.dropBtn:hover {
	background-color: hsl(212, 100%, 55%);
}
.dropMenus {
	position: absolute;
	display: none;
}
.dropDownMenu:hover .dropMenus {
	display: block;
	width: 0px;
}
.menus {
	min-width: 250px;
	position: relative;
	top: 0;
	left: -193px;
	padding: 15px 0px;
	background-color: hsl(0, 0%, 100%);
	vertical-align: baseline;
	cursor: pointer;
	box-shadow: 0px 5px 5px 0px hsla(0, 0%, 50%, 0.5);
	z-index: 10;
}
.menus:first-child {
	border-radius: 5px 5px 0px 0px;
}
.menus:last-child {
	border-radius: 0px 0px 5px 5px;
}
.menus:hover {
	background-color: hsl(0, 0%, 95%);
}
.img {
	width: 20px;
	padding: 0px 15px 0px 50px;
}
.span {
	font-size: 1.1rem;
}
.toolBar {
	padding: 1em;
	margin: 2em;
	text-align: center;
	border-radius: 1em;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.toggle {
	background-color: rgb(185, 185, 185);
	color: beige;
	height: 2em;
	width: 2em;
	text-align: center;
	line-height: 2em;
	vertical-align: middle;
	border-radius: 100em;
	font-size: x-large;
	z-index: 100;
	position: fixed;
	bottom: 1em;
	right: 1em;
	cursor: pointer;
	transition: background-color 0.2s ease;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.toggle:hover {
	transition: background-color 0.2s ease;
	background-color: rgb(146, 146, 146);
} 
.wrapper {
	display: flex;
	justify-content: space-around;
	padding: 0 4vw;
	gap: 25px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: center;
}
.video {
	padding-top: 25vh;
}
.mainControls {
	margin-top: 7vh;
	padding: 3rem;
	background-color: hsl(0, 0%, 95%);
	border-radius: 5px;
	transition: background-color 0.2s ease;
	height: 65vh;
	min-width: 750px;
}
.Dark {
	background-color: hsl(0, 0%, 25%);
	transition: background-color 0.2s ease;
}
.progress {
	margin: 1rem 0 2rem;
}
.controls {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: space-evenly;
	align-items: center;
	margin: 2rem 0;
}
.controls .player-controls .play-control {
	background-color: hsl(40, 100%, 50%);
	border: none;
	color: black;
	padding: 0.5rem 2rem;
	border-radius: 5px;
	cursor: pointer;
}
.controls .player-controls .play-control:hover {
	background-color: hsl(40, 90%, 50%);
}
.slider {
	-webkit-appearance: none;
	appearance: none;
	outline: none;
	width: 100%;
	height: 10px;
	background-color: #d3d3d3;
  border-radius: 4px;
}
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	background-color: white;
	cursor: grab;
  border-radius: 50px;
}
.slider::-moz-range-thumb {
	width: 20px;
	height: 20px;
	background-color: white;
	cursor: grab;
  border-radius: 50px;
}
.trim-control {
	background-color: hsl(212, 100%, 50%);
	border: 0;
	color: #fff;
	padding: 0.5rem;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 0.1em;
	margin: 0em 0.3em;
}
.trim-control:hover {
	background-color: hsl(212, 100%, 40%);
}
.trim {
	background-color: hsl(0, 0%, 90%);
	border: 0;
	color: black;
	padding: 0.5rem;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 0.1em;
	margin: 0em 0.3em;
}
.trim:hover {
	background-color: grey;
}
.displayTime {
	display: flex;
	justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0 0 0;
}
.marginTop {
  margin: 1rem 0;
}
.convert {
	background-color: hsl(130, 50%, 50%);
	border: none;
	color: hsl(0, 0%, 100%);
	padding: 0.5rem;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 0.1em;
	margin: 0em 0.3em;
}
.convert:hover {
	background-color: hsl(130, 50%, 40%);
}
.download_video {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
}
@media (max-width: 550px) {
	.wrapper {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 15px;
	}
	.video {
		padding-top: 2vh;
	}
	.mainControls {
		min-width: 350px;
    height: 75vh;
	}
}
@media (min-width: 551px) and (max-width: 800px) {
	.wrapper {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;
	}
	.video {
		padding-top: 5vh;
	}
	.mainControls {
		min-width: 550px;
    height: 70vh;
	}
}
@media (min-width: 801px) and (max-width: 1350px) {
	.wrapper {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 25px;
	}
	.video {
		padding-top: 10vh;
	}
	.mainControls {
		min-width: 850px;
    height: 60vh;
	}
}
