body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	transition: background-color 0.3s ease, color 0.3s ease;
	margin: 0%;
	box-sizing: border-box;
}
.head {
	text-align: center;
	color: hsl(30, 100%, 50%);
	font-size: 2rem;
	margin: 3rem 0px 0px 0px;
}
.choose {
	padding-top: 30vh;
	display: flex;
	justify-content: center;
}
.file-drop {
	padding: 1rem 1.6rem;
	font-size: 1.4rem;
	color: white;
	background-color: hsl(212, 100%, 60%);
	border-radius: 5px 0px 0px 5px;
	cursor: pointer;
	line-height: 15px;
	border: none;
	box-shadow: 0px 8px 24px 0px hsla(212, 100%, 60%, 0.5);
}
#plus {
	padding: 0px 10px 0px 0px;
}
input[type="file"] {
	display: none;
}
.dropBtn {
	border: none;
	border-left: 1px solid hsl(220, 100%, 80%);
	cursor: pointer;
	background-color: hsl(212, 100%, 60%);
	border-radius: 0px 5px 5px 0px;
	padding: 1rem 1.3rem;
	height: 57px;
	box-shadow: 0px 8px 24px 0px hsla(212, 100%, 60%, 0.5);
}
#down {
	color: white;
	font-size: 1rem;
  transform: rotateZ(0deg);
  transition: transform 0.2s ease-in-out;
}
.dropDownMenu:hover #down {
  transform: rotateZ(180deg);
  transition: transform 0.2s ease-in-out;
}
.file-drop:hover,
.dropBtn:hover {
	background-color: hsl(212, 100%, 55%);
}
.dropMenus {
	position: absolute;
	display: none;
}
.dropDownMenu:hover .dropMenus {
	display: block;
	width: 0px;
}
.menus {
	min-width: 250px;
	position: relative;
	top: 0;
	left: -193px;
	padding: 15px 0px;
	background-color: hsl(0, 0%, 100%);
	vertical-align: baseline;
	cursor: pointer;
	box-shadow: 0px 5px 5px 0px hsla(0, 0%, 50%, 0.5);
	z-index: 10;
}
.menus:first-child {
	border-radius: 5px 5px 0px 0px;
}
.menus:last-child {
	border-radius: 0px 0px 5px 5px;
}
.menus:hover {
	background-color: hsl(0, 0%, 95%);
}
.img {
	width: 20px;
	padding: 0px 15px 0px 50px;
}
.span {
	font-size: 1.1rem;
  color: black;
}
.flexBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 30vh auto;
}
.btn {
	padding: 1rem 1.6rem;
	font-size: 1.4rem;
	color: white;
	background-color: hsl(212, 100%, 60%);
	border-radius: 5px;
	cursor: pointer;
	border: none;
	box-shadow: 0px 8px 24px 0px hsla(212, 100%, 60%, 0.5);
}
.toggle {
	background-color: hsl(0, 0%, 50%);
	color: yellow;
	height: 2em;
	width: 2em;
	text-align: center;
	line-height: 2em;
	vertical-align: middle;
	border-radius: 100em;
	font-size: x-large;
	z-index: 100;
	position: fixed;
	bottom: 1em;
	right: 1em;
	cursor: pointer;
	transition: background-color 0.2s ease;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.toggle:hover {
	transition: background-color 0.2s ease;
	background-color: rgb(146, 146, 146);
} 
.wrapper {
	display: flex;
	justify-content: space-around;
	padding: 0 4vw;
	gap: 25px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: center;
}
.video {
	padding-top: 25vh;
}
.mainControls {
	margin: 7vh 0;
	padding: 3rem;
	background-color: hsl(0, 0%, 95%);
	border-radius: 5px;
	transition: background-color 0.2s ease;
	min-width: 750px;
  min-height: 500px;
}
.Dark {
	background-color: hsl(0, 0%, 25%);
	transition: background-color 0.2s ease;
}
.progress {
	margin: 0 0 2rem 0;
}
.controls {
	display: flex;
  justify-content: space-between;
	align-items: center;
  gap: 20px;
	margin: 2rem 0;
}
.controls .player-controls .play-control {
	background-color: hsl(40, 100%, 50%);
	border: none;
	color: black;
	padding: 0.5rem 2rem;
	border-radius: 5px;
	cursor: pointer;
  margin: 0 0.5rem;
}
.controls .player-controls .play-control:hover {
	background-color: hsl(40, 90%, 50%);
}
.cutVideo {
  justify-items: end;
}
input[type=range] {
	-webkit-appearance: none;
	appearance: none;
	outline: none;
	width: 100%;
	height: 10px;
	background-color: gainsboro;
  border-radius: 4px;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	background-color: white;
	cursor: pointer;
  border-radius: 50px;
}
input[type=range]::-moz-range-thumb {
	width: 20px;
	height: 20px;
	background-color: white;
	cursor: pointer;
  border-radius: 50px;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
.trim-control {
	background-color: hsl(212, 100%, 50%);
	border: 0;
	color: #fff;
	padding: 0.5rem;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 1px;
	margin: 0em 0.5em;
}
.trim-control:hover {
	background-color: hsl(212, 100%, 40%);
}
.trim {
	background-color: hsl(0, 100%, 60%);
	border: 0;
	color: white;
	padding: 0.25rem 0.5rem;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 1px;
	margin: 0em 0.5rem;
}
.trim:hover {
	background-color: hsl(0, 80%, 50%);
}
.displayTime {
	display: flex;
	justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0 0 0;
}
.time {
  padding: 0 0.5rem;
}
.marginTop {
  margin: 0.5rem 0 0 0;
}
.convert {
	background-color: hsl(130, 50%, 50%);
	border: none;
	color: hsl(0, 0%, 100%);
	padding: 0.5rem;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 1px;
	margin: 0em 0.5em;
}
.convert:hover {
	background-color: hsl(130, 50%, 40%);
}
.crop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  min-width: 650px;
  margin: 0% auto;
}
.wrap {
  width: 60%;
  min-width: 600px;
}
.video1 {
  padding: 10vh 0% 2vh 0%;
  position: relative;
}
.bgHide {
  position: absolute;
  top: 10vh;
  left: 0%;
  width: 100%;
  height: 100%;
  max-width: 640px;
  max-height: 360px;
  background-color: hsl(0, 0%, 0%, 0.4);
}
.mask {
  resize: both;
  overflow: hidden;
  position: absolute;
  border: 1px solid yellow;
  background-color: transparent;
  width: 500px;
  height: 500px;
  z-index: 1;
  min-width: 120px;
  min-height: 120px;
  max-width: 638px;
  max-height: 358px;
}
.multipleClips {
  padding: 0 1rem 0 1rem;
  overflow-y: auto;
  min-height: 150px;
  max-height: 400px;
}
.download_video {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
}
@media (max-width: 550px) {
	.wrapper {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 15px;
	}
	.video {
		padding-top: 2vh;
	}
	.mainControls {
		min-width: 350px;
    height: 75vh;
	}
}
@media (min-width: 551px) and (max-width: 900px) {
	.wrapper {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;
	}
	.video {
		padding-top: 5vh;
	}
	.mainControls {
		min-width: 550px;
    height: 70vh;
	}
}
@media (min-width: 901px) and (max-width: 1350px) {
	.wrapper {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 25px;
	}
	.video {
		padding-top: 10vh;
	}
	.mainControls {
		min-width: 750px;
    width: 60vw;
    height: 60vh;
	}
}
