body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	transition: background-color 0.3s ease, color 0.3s ease;
	margin: 0%;
	box-sizing: border-box;
}
.head {
  text-align: center;
  color: hsl(30, 100%, 50%);
  font-size: 2rem;
  margin: 3rem 0px 0px 0px;
}
.choose {
	padding-top: 30vh;
	display: flex;
	justify-content: center;
}
.file-drop {
	padding: 1rem 1.6rem;
	font-size: 1.3rem;
	color: white;
	background-color: hsl(212, 100%, 60%);
	border-radius: 5px 0px 0px 5px;
	cursor: pointer;
	line-height: 15px;
  border: none;
  letter-spacing: 1px;
  box-shadow: 0px 8px 24px 0px hsla(212, 100%, 60%, 0.5);
}
#plus {
	padding: 0px 10px 0px 0px;
}
input[type="file"] {
	display: none;
}
.dropBtn {
  border: none;
  border-left: 1px solid hsl(220, 100%, 80%);
  cursor: pointer;
	background-color: hsl(212, 100%, 60%);
	border-radius: 0px 5px 5px 0px;
  padding: 1rem 1.3rem;
  height: 57px;
  box-shadow: 0px 8px 24px 0px hsla(212, 100%, 60%, 0.5);
}
#down {
  color: white;
  font-size: 1rem;
}
.file-drop:hover, .dropBtn:hover {
	background-color: hsl(212, 100%, 55%);
}
.dropMenus {
  position: absolute;
  display: none;
}
.dropDownMenu:hover .dropMenus {
  display: block;
  width: 0px;
}
.menus {
  min-width: 250px;
  position: relative;
  top: 0;
  left: -193px;
  padding: 15px 0px;
  background-color: hsl(0, 0%, 100%);
  vertical-align: baseline;
  cursor: pointer;
  box-shadow: 0px 5px 5px 0px hsla(0, 0%, 50%, 0.5);
  z-index: 10;
}
.menus:first-child {
  border-radius: 5px 5px 0px 0px;
}
.menus:last-child {
  border-radius: 0px 0px 5px 5px;
}
.menus:hover {
  background-color: hsl(0, 0%, 95%);
}
.img {
  width: 20px;
  padding: 0px 15px 0px 50px;
}
.span {
  font-size: 1.1rem;
}
.toolBar {
	padding: 1em;
	margin: 2em;
	text-align: center;
	border-radius: 1em;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.toggle {
	background-color: rgb(185, 185, 185);
	color: yellow;
	height: 2em;
	width: 2em;
	text-align: center;
	line-height: 2em;
	vertical-align: middle;
	border-radius: 100em;
	font-size: x-large;
	z-index: 100;
	position: fixed;
	bottom: 1em;
	right: 1em;
	cursor: pointer;
	transition: background-color 0.2s ease;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.toggle:hover {
	transition: background-color 0.2s ease;
	background-color: rgb(146, 146, 146);
}
.wrapper {
	display: flex;
	justify-content: center;
	padding: 20vh 5vw 30px 5vw;
  gap: 25px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: center;
}
.video {
	margin: 0 auto;
}
.mainControls {
	width: 50%;
  padding: 2rem;
	margin: 0% auto;
  background-color: hsl(0, 0%, 95%);
  border-radius: 5px;
	transition: background-color 0.2s ease;
  min-width: 700px;
}
.mainControlsDark {
	width: 50%;
  padding: 2rem;
	margin: 0% auto;
  background-color: hsl(0, 0%, 25%);
  border-radius: 5px;
  transition: background-color 0.2s ease;
  min-width: 700px;
}
.playback {
	position: relative;
	margin: 2rem 24px;
	height: 10px;
	background: #2f3b44;
  border-radius: 50px;
}
.playback .seekable {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: hsl(0, 0%, 80%);
	cursor: pointer;
  border-radius: 50px;
}
.playback .grabber {
	position: absolute;
	width: 5px;
	border-radius: 2px;
	z-index: 1;
	cursor: pointer;
	transition: transform 0.2s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}
.playback .grabber.start {
	background: green;
	top: 0px;
	bottom: -12px;
}
.playback .grabber.end {
	background: red;
	top: -12px;
	bottom: 0px;
}
.playback .grabber:hover {
	transform: scaleY(1.4);
}
.playback .progress {
	background-color: blueviolet;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	cursor: pointer;
	pointer-events: none;
  border-radius: 50px;
}
.controls {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: space-between;
	text-align: center;
}
.controls .player-controls .play-control {
	background: hsl(40, 100%, 50%);
	border: none;
	color: black;
	padding: 0.5rem 2rem;
	border-radius: 5px;
	cursor: pointer;
}
.controls .player-controls .play-control:hover {
	background: hsl(40, 90%, 50%);
}
.controls .settings-control {
	background: hsl(40, 100%, 50%);
	border: none;
	color: black;
	padding: 0.5rem 2rem;
	border-radius: 5px;
	cursor: pointer;
}
.controls .settings-control:hover {
	background: hsl(40, 90%, 50%);
}
.controls .trim-control {
	background: #0072cf;
	border: 0;
	color: #fff;
	padding: 0.5rem;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 0.1em;
	margin: 0em 0.3em;
}
.controls .trim-control:hover {
	background: #038eff;
}
.evenWidth {
	width: 130px;
}
.warning {
	padding: 0.8em;
	color: #da7f00;
	background-color: #ffecd1;
	border-radius: 0.3em;
	border: 0.1em solid #f0ad4e;
	margin: 1em;
	justify-content: center;
	text-align: center;
}
video::-webkit-media-controls-fullscreen-button {
	display: none;
}
hr {
	margin: 1rem 0;
}
.download_video {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
}
.Main {
	position: absolute;
	width: 0%;
	z-index: 1;
}
.mask {
	position: relative;
	border: 2px dashed gold;
	background-color: transparent;
	width: 356px;
	height: 636px;
	cursor: move;
	z-index: 2;
}
@media (max-width: 1400px) {
	.wrapper {
		flex-direction: column;
    gap: 25px;
	}
}
